body {
    font-family: 'Inter', sans-serif;
    position: relative;
}

#container-card {

    margin: 0%;
    padding: 0%;
    width: 390px;
    position: absolute;
    left: 460px;
}

#climbing-img {
    margin: 0%;
    padding: 0%;
    width: 100%;
    border-radius: 25px;
    position: absolute;

}

.button {
    margin: 0%;
    padding: 0%;
    background-color: #EFEEEE;
    margin: 0%;
    padding: 0%;
    position: absolute;
    border-radius: 20px;
    display: flex;
    transform: translateX(-73px) translateY(63px);
    opacity: 0;
}

.card:hover .button {
    margin: 0%;
    padding: 0%;
    background-color: #EFEEEE;
   
    position: absolute;
    border-radius: 20px;
    display: flex;
    transform: translateX(8px) translateY(-11px);
    opacity: 1;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition: opacity .2s transform .2s;

}
.card:hover .save-button {
    background-color: #E60D21;
    position: absolute;
    margin: 0%;
    padding: 0.1em;
    width: 25%;
    font-size: 15pt;
    color: white;
    text-align: center;
    border-radius: 100px;
    opacity: 1;
    transform: translateX(377px) translateY(-66px);
    transition-delay: 200ms;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition: opacity .4s transform .2s;
    
}

.button ion-icon {
    text-align: center;
    font-size: 50px;
}

.card:hover {
    opacity: 0.70;

}

#link {
    top: 530px;
    left: 10px;
    margin: 0%;
    padding: 0%;
    width: 190px;
    display: flex;
    justify-content: center;

    text-overflow: ellipsis;



}

#link p {
    margin: 0%;
    padding: 0.9em;
    width: 180px;
    white-space: nowrap;
    overflow: scroll;

}


#option {
    top: 530px;
    left: 315px;
    font-size: 50px;
    border-radius: 50%;


}

#share {
    top: 530px;
    left: 250px;
    font-size: 50px;
    border-radius: 50%;

}





.save-button {
    top: 80px;
    right: 390px;
    border-radius: 100px;
    font-size: 15pt;
    background-color: #E60D21;
    position: absolute;
    margin: 0%;
    padding: 0.1em;
    width: 25%;
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateX(482px) translateY(-136px);
}


